!!!
html
  head
    title='Playlist App'
    block style
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/player.skin/jplayer.blue.monday.css')
    block scripts
        script(src=base + '/javascripts/jquery-1.7.min.js')
        script(src=base + '/javascripts/modernizr.js')
        script(src=base + '/javascripts/jquery.jplayer.min.js')
        script(src=base + '/javascripts/playlist-app.js')
  body
    div.page-container.clearfix
        block content
        include player